<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First Layout</title>
    <link rel="stylesheet" href="./styles.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="nav_logo">Travels <span>.</span></div>
      <ul class="nav_links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Destination</a></li>
        <li class="link"><a href="#">Pricing</a></li>
        <li class="link"><a href="#">Reviews</a></li>
      </ul>
    </nav>
    <header>
      <div class="section__container header_container">
        <div class="header_image">
            <img src="https://plus.unsplash.com/premium_photo-1663945117116-a4227b0da2f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="header">
            <img src="https://images.unsplash.com/photo-1682687982502-b05f0565753a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60" alt="header 2">
        </div>
        <div class="header_content">
            <div>
                <p class="sub_header">Book Now</p>
                <h1>The Smiling Agent for 😃 <br> for your travels</h1>
                <p class="section_subtitle">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor similique, itaque quas deleniti suscipit quibusdam deserunt odit possimus laboriosam distinctio.
                </p>
                <div class="action_btns">
                    <button class="btn">Plan a trip</button>
                    <div class="story">
                        <div class="video_image">
                            <img src="https://images.unsplash.com/photo-1661956600654-edac218fea67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="Header Image">
                            <span><i class="ri-play-fill"></i></span>
                        </div>
                        <span>Watch our story</span>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </header>
  </body>
</html>
