<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Website</title>
    <link rel="stylesheet" href="./styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <div class="nav_logo">Travels <span>.</span></div>
      <ul class="nav_links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Destination</a></li>
        <li class="link"><a href="#">Pricing</a></li>
        <li class="link"><a href="#">Reviews</a></li>
      </ul>
      <button class="btn">Contact Us</button>
    </nav>
    <header>
      <div class="section__container header_container">
        <div class="header_image">
          <img
            src="https://plus.unsplash.com/premium_photo-1663945117116-a4227b0da2f7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60"
            alt="header"
          />
          <img
            src="https://images.unsplash.com/photo-1682687982502-b05f0565753a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60"
            alt="header 2"
          />
        </div>
        <div class="header_content">
          <div>
            <p class="sub_header">Book Now</p>
            <h1>
              The Smiling 😀<br />
              Agent for your travels
            </h1>
            <p class="section_subtitle">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor
              similique, itaque quas deleniti suscipit quibusdam deserunt odit
              possimus laboriosam distinctio.
            </p>
            <div class="action_btns">
              <button class="btn">Plan a trip</button>
              <div class="story">
                <div class="video_image">
                  <img
                    src="https://images.unsplash.com/photo-1661956600654-edac218fea67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                    alt="Header Image"
                  />
                  <span><i class="ri-play-fill"></i></span>
                </div>
                <span>Watch our story</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="section_container destination_container">
      <div class="section_header">
        <div>
          <h2 class="section_title">Explore top Destinations</h2>
          <p class="section_subtitle">
            Explore your suitable and dream places around the world. Here you can find your right destination.
          </p>
        </div>
        <div class="destination_nav">
          <span><i class="ri-arrow-left-s-line"></i></span>
          <span><i class="ri-arrow-right-s-line"></i></span>
        </div>
      </div>
      <div class="destination_grid">
        <div class="destination_card">
          <img src="https://images.unsplash.com/photo-1682686581264-c47e25e61d95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          <div class="destination_details">
            <p class="destination_title">Banff</p>
            <p class="destination_subtitle">Canada</p>
          </div>
        </div>

        <div class="destination_card">
          <img src="https://images.unsplash.com/photo-1664440163807-f2c860329464?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          <div class="destination_details">
            <p class="destination_title">Manu Pichu</p>
            <p class="destination_subtitle">Peru</p>
          </div>
        </div>

        <div class="destination_card">
          <img src="https://images.unsplash.com/photo-1682686581264-c47e25e61d95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxMXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          <div class="destination_details">
            <p class="destination_title">Wakalulu</p>
            <p class="destination_subtitle">Luluwaka</p>
          </div>
        </div>

        <div class="destination_card">
          <img src="https://images.unsplash.com/photo-1688551993858-14d767e88981?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxM3x8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="">
          <div class="destination_details">
            <p class="destination_title">Banff</p>
            <p class="destination_subtitle">Canada</p>
          </div>
        </div>
        </div>
      </div>
    </section>

    <section class="trip">
      <div class="section_container trip_container">
        <h2 class="section_title">Best Trip Package</h2>
        <p class="section_subtitle">
          Explore your suitable and dream places around the world. Here you can find your rght destination.
        </p>
        <div class="trip_grid">
          <div class="trip_card">
            <img src="https://images.unsplash.com/photo-1688636596185-798367e2cb6b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzfHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60">
            <div class="trip_details">
              <p>Wasserwerk Felberg, Germany</p>
              <div class="rating"><i class="ri-star-fill"></i> 4.2</div>
              <div class="booking_price"><span>From</span> $300</div>
              <button class="book_now">Book Now</button>
            </div>
          </div>

          <div class="trip_card">
            <img src="https://images.unsplash.com/photo-1683009427037-c5afc2b8134d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHw2fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=500&q=60">
            <div class="trip_details">
              <p>Wasserwerk Felberg, Germany</p>
              <div class="rating"><i class="ri-star-fill"></i> 4.1</div>
              <div class="booking_price"><span>From</span> $100</div>
              <button class="book_now">Book Now</button>
            </div>
          </div>
          <div class="trip_card">
            <img src="https://images.unsplash.com/photo-1688588426729-dc4f7bdb8fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
            <div class="trip_details">
              <p>Wasserwerk Felberg, Germany</p>
              <div class="rating"><i class="ri-star-fill"></i> 4.7</div>
              <div class="booking_price"><span>From</span> $800</div>
              <button class="book_now">Book Now</button>
            </div>
          </div>
        </div>
        <div class="view_all">
          <button class="btn">View All</button>
        </div>
      </div>
    </section>
  </body>
</html>
