@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --priamry-color: #3685fb;
  --primary-color-dark: #2f73d2;
  --secondary-color: #fafcff;
  --text-dark: #0d213f;
  --text-light: #767268;
  --extra-light: #ffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}
.section_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.section_title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.section_subtitle {
  font-size: 1rem;
  color: var(--text-dark);
  max-width: calc(var(--max-width) / 2);
}

.btn{
    padding: .75rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--extra-light);
    background-color: var(--priamry-color);
    border-radius: 5rem;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover {
    background-color: var(--primary-color-dark);
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
nav {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_logo{
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-dark);
}
.nav_logo span  {
  color: var(--priamry-color);
}
.nav_links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
}
.link a:hover {
  color: var(--priamry-color);
}
header {
  background-color: var(--secondary-color);
}
.header_container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.header_image {
  position: relative;
}
.header_image img{
  position: absolute;
  top: 50%;
  left: 50%;
  border: .5rem solid var(--extra-light);
  border-radius: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.header_image img:nth-child(1){
  /* for Bigger Screens 550 px Best */
  max-width: 350px;
  transform: translate(-75%, -50%);
}
.header_image img:nth-child(2){
  /* for Bigger Screens 350px Best  */
  max-width: 250px;
  transform: translate(0%, -25%);
}
.header_content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_content > div {
  max-width: 700px;
  display: grid;
  gap: 1rem;
}

.header_content .sub_header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--priamry-color);
}
.header_content h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 800;
  color: var(--text-dark);
}
.header_content .action_btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}
.story {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.video_image {
  position: relative;
}
.video_image img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.video_image span{
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
}
.video_image span i {
  padding: 0.5rem;
  font-size: 1rem;
  color: red;
  background-color: var(--extra-light);
  border-radius: 100%;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
.destination__nav {
  display: flex;
  gap: 1rem;
}
.destination__nav span {
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  color: var(--priamry-color);
  border: 1px solid var(--primary-color);
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.3s;
}
.destination__nav span:hover{
  color: var(--extra-light);
  background-color: var(--primary-color-dark);
}
.destination_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.destination_card{
  overflow: hidden;
  position: relative;
  isolation: isolate;
  cursor: pointer;
}
.destination_card img{
  border-radius: 1rem;
}
.destination_details {
  position: absolute;
  width: calc(100% - 2rem);
  padding: 1rem;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--extra-light);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  z-index: 1;
  transition: 0.3s;
}
.destination_card:hover .destination_details {
  bottom: 1rem;
}
.destination_title {
  font-size: .9rem;
  margin-bottom: .5rem;
}
.destination_subtitle{
  font-size: 1rem;
  font-weight: 600;
}
